body{
    background-color: lightblue;
}

footer a{
    position: fixed;
    bottom: 10%;
    left: 85%;
    background-color: #20b2aa;
    text-decoration: none;
    border: 1px solid lightseagreen;
    border-radius: 5px;
    color: black;
    padding: 5px 10px;
}